*{
    background-color:darkcyan;
    margin: 0;
    padding:0;
}

#titulo h1{
    color: rgb(255, 44, 90);
    font-size: 55px;
    font-family: 'Courier New', Courier, monospace;
   
    background-color: black;
    
}



#item1 {
    
    width: 100%;
	margin: auto;
	list-style: none;
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
}

#item1 h1{
  
    text-align: center;
    background-color: rgb(255, 44, 90);
    float: right;
    width: 55%;
    color: aliceblue;
}

#item1 p{
    display:flexbox;
    font-size: 30px;
    background-color:navajowhite;
    float: right;
    

width: 55%;
}


#item2 {
    width: 100%;
	margin: auto;
	list-style: none;
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
}

#item2 h1{
    background-color: rgb(255, 44, 90);
    float: center;
    width: 55%;
    color: aliceblue;
    text-align: center;
   
}

#item2 p{
    display: flexbox;
    font-size: 30px;
    background-color:lightblue;
    float: center;
   
    

width: 55%;
}





#item3 {
    width: 100%;
	margin: auto;
	list-style: none;
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
}

#item3 h1{
    background-color: rgb(255, 44, 90);
    float: left;
    width: 55%;
    color: aliceblue;
    text-align: center;
}

#item3 p{
    display: flexbox;
    font-size: 30px;
    background-color:rgb(44, 250, 253);
    float: left;
    

width: 55%;
}





#item4 {
    width: 100%;
	margin: auto;
	list-style: none;
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
}

#item4 h1{
    background-color: rgb(255, 44, 90);
    float: left;
    width: 55%;
    color: aliceblue;
    text-align: center;
}

#item4 p{
    display: flexbox;
    font-size: 30px;
    background-color:darkseagreen;
    float: left;
    

width: 55%;
}
